trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- checkout: self
  clean: true

- task: NodeTool@0
  inputs:
    checkLatest: true
    versionSpec: '>=12.x'
  displayName: 'Install Node.js'

- script: 'npm install -g markdown-link-check'
  displayName: 'Install markdown-link-check'
   
- powershell: |
    Get-ChildItem -Path "./doc/" -Filter "*.md" -Recurse | Where-Object { $_.FullName -inotmatch "i18n" } | ForEach-Object {
      $path = Resolve-Path -Path $_.FullName -Relative
      if(!($path -match "\\\.[^\.\\]+")) {
        markdown-link-check -c ./markdown-link-check.config.json -q $path
      }
    }
  failOnStderr: true
  errorActionPreference: continue
  displayName: 'Check links'
