name: "CLA Assistant"
on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened, closed, synchronize]

permissions:
  id-token: write
  contents: read
  issues: write
  pull-requests: write

jobs:
  CLAAssistant:
    # Only run on PR comments, not issue comments
    if: |
      (github.event_name == 'pull_request_target') ||
      (github.event_name == 'issue_comment' && github.event.issue.pull_request)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout CLA action
        uses: actions/checkout@v4
        with:
          repository: fiskaltrust/cla-signatures
          token: ${{ secrets.CLA_SIGNATURE_REPO_TOKEN }}
          path: cla-signatures

      - name: "Run CLA Assistant"
        uses: ./cla-signatures/.github/actions/cla-assistant
        with:
          claDocumentFile: "https://github.com/fiskaltrust/.github/blob/main/CLA.md"
          claSignatureRepoPath: "cla-signatures"
          prNumber: "${{ github.event.pull_request.number || github.event.issue.number }}"
          allowList: "ReleaseBot"
